body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding: 16px;
}

@media (min-width: 1200px) {
  .container {
    padding-left: 156px;
    padding-right: 156px;
  }
}

.header-container {
  display: grid;
  place-items: start;
  padding: 16px;
}
.header {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .header-container {
    padding-left: 172px;
    padding-right: 172px;
  }
}
.header-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}
.header-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #f07f2e;
}
.header-icon {
  padding-top: 8px;
}

/* Hero */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  grid-template-areas:
    'hero-1 hero-2'
    'hero-1 hero-3';
}
.hero-1 {
  grid-area: hero-1;
  width: 100%;
  max-height: 590px;
}

.hero-2 {
  grid-area: hero-2;
  width: 100%;
  max-height: 280px;
}
.hero-3 {
  grid-area: hero-3;
  width: 100%;
  max-height: 280px;
}
.hero-item {
  position: relative;
}
.hero-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border-radius: 0px 0px 16px 16px;
}

@media (max-width: 660px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'hero-1'
      'hero-2'
      'hero-3';
  }
  .hero-1 {
    max-height: 280px;
    object-fit: cover;
    border-radius: 16px;
  }
  .hero-2 .hero-3 {
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  .hero-caption {
    width: 100%;
    max-height: 120px;
  }
}

@media (max-width: 1199px) {
  .hero-caption {
    padding: 12px 20px;
    font-size: 18px;
  }
  .hero {
    gap: 12px;
  }
}

/* Blog */
.blog-list {
  display: grid;
  gap: 36px;
  padding: 0;
}

.blog-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.title {
  color: #2c2c2c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-top: 0;
}

.txt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.blog-txt-cont {
  max-width: 456px;
  margin: 0 auto;
}

.blog-list img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Social */
.container-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-top: 80px;
  margin-bottom: 70px;
}

.social-list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 360px;
}

.social-list li {
  text-align: center;
}

.social-list img {
  width: 100%;
  height: auto;
}

@media (max-width: 1199px) {
  .container-main {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .blog-item {
    grid-template-columns: 1fr 2fr;
    text-align: center;
  }
  .blog-txt-cont {
    max-width: none;
  }
  .social-list {
    width: auto;
  }
}
@media (max-width: 660px) {
  .container-main {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .blog-item {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/* Footer */
.footer {
  background-color: #ecf6ff;
}
